.line1{
    display: inline;
}
.line2{
    display: inline;
}

.title{
    display: inline;
}


/* class ta gayeb hoye zabe */
.title3{
    display: none;
}



.span1{
    display: block;
}   


.description1{
    color: red;
}

.description2{
    color: #FF0000;
}

.description3{
    color: rgb(255, 0, 0);
}

/* rgba, ei a add korar maddhome color er opacity o control kora jay.
 opacity er value 0 theke 1 er moddhe dite hoy. jodi 0 dei tahole pura transparent hoye zabe, ar jodi 1 dei tahole pura opaque hoye zabe. r jodi 0.5 dei tahole half transparent hoye zabe. */

 .description4{
    color: rgba(255, 0, 0,0.5);
}



/* font er ki ki change ana jay */

.par{
    color: goldenrod;
    font-style: italic;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    /* nicher ei duita likle page er tik maje leka ana jay */
    width: 50%;
    margin: auto;
}